<template>
  <div>
    <div class="window-height row justify-center items-center">
      <q-card class="col-xs-12 col-sm-10 col-md-3 col-lg-3 col-xl-3" :class="fullHeight">
        <q-card-section class="bg-grey-1">
          <div class="row justify-center items-center q-gutter-md">
            <q-separator inset />
            <div class="text-h6">
              <span>SPData - S.G.H.</span>
            </div>
            <q-separator inset />
          </div>
          <div class="row justify-center items-center q-gutter-md">
            <q-separator inset />
            <div class="text-h7">
              <span>Configurações</span>
            </div>
            <q-separator inset />
          </div>
        </q-card-section>

        <q-form @submit="doLogin()">
          <q-card-section style="padding-top:0" class="bg-grey-1">
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label>Endereço do web service</q-item-label>
                  <q-item-label>
                    <q-input outlined class="required" v-model="login.usuario" dense="true" />
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label>Endereço do web service</q-item-label>
                  <q-radio v-model="shape" val="padrao" label="Padrão" />
                  <q-radio v-model="shape" val="android" label="Android" />
                  <q-radio v-model="shape" val="ios" label="IOS" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-card-section>

          <q-separator />

          <q-card-actions>
            <q-btn
              color="primary"
              label="Login"
              class="full-width login-btn"
              type="submit"
              :loading="logando"
            >
              <template v-slot:loading>
                <q-spinner-hourglass class="on-left" />
              </template>
            </q-btn>
          </q-card-actions>
        </q-form>
      </q-card>
    </div>
  </div>
</template>

<script>
import { Platform } from "quasar";
import logoSVG from "./logoData";
import Vivus from "vivus";

import NotifyUtils from "../utils/NotifyUtils";
import AxiosUtils from "../utils/AxiosUtils";
import Login from "../models/Login";
import LoginService from "../services/LoginService";

let notify = new NotifyUtils();
let axios = new AxiosUtils();
let loginService = new LoginService();

export default {
  data() {
    return {
      login: new Login(),
      logo: logoSVG["Digitalizer"],
      logando: false,
      shape: "line"
    };
  },
  methods: {
    startAnimation() {
      let vivus = new Vivus(
        "logo",
        {
          duration: 150,
          forceRender: false
        },
        function(element) {
          for (let item of element.el.children[0].children) {
            item.setAttribute("style", "fill:");
            item.setAttribute("style", "fill:");
          }
          //document.getElementById('logo').classList.add("animate-scale");
          if (document.getElementById("logoSpdata") != null) {
            document.getElementById("logoSpdata").classList.add("fadeIn");
          }
        }
      );
    },
    doLogin: function() {
      this.logando = true;
      alert("Alterar o caminho do REST no arquivo Utils.js");
      loginService
        .login(this.login)
        .then(a => {
          this.logando = false;
          this.$router.push("/app");
        })
        .catch(() => {
          this.logando = false;
        });
    }
  },
  mounted() {
    if (Platform.is.electron) {
      setTimeout(function() {}, 800);
    } else {
      this.startAnimation();
    }
  },
  computed: {
    fullHeight() {
      if (Platform.is.mobile) {
        return "fullHeight";
      }
    }
  }
};
</script>

<style>
.spdata-logo {
  margin-bottom: 20px;
  margin-top: 10px;
}

.fullHeight {
  height: 100% !important;
}
</style>
