<template>
  <div>
    <div class="window-height row justify-center items-center">
      <q-card class="col-xs-12 col-sm-10 col-md-3 col-lg-3 col-xl-3" :class="fullHeight">
        <q-card-section class="justify-center items-center bg-gradient">
          <div class="column justify-center items-center">
            <div class="col">
              <svg
                id="logo"
                viewBox="0 0 483 483"
                style="enable-background:new 0 0 460 460;"
                xml:space="preserve"
                width="128px"
                height="128px"
                v-html="logo"
              ></svg>
            </div>
            <div class="col">
              <img
                id="logoSpdata"
                alt="SPDATA Logo"
                src="~/assets/spdata-branco.png"
                width="166px"
                height="38"
                class="spdata-logo animated"
              >
            </div>
          </div>
        </q-card-section>

        <q-card-section class="bg-grey-1">
          <div class="row justify-center items-center q-gutter-md">
            <q-separator inset/>
            <div class="text-h6">
              <span>SPData - S.G.H.</span>
            </div>
            <q-separator inset/>
          </div>
        </q-card-section>

        <q-form @submit="doLogin()">
          <q-card-section style="padding-top:0" class="bg-grey-1">
            <div class="row">
              <div class="col-12">
                <q-input
                  v-model="login.usuario"
                  class="required"
                  label="Usuário"
                  :rules="[ val => val.trim() != '' || 'Campo Obrigatório' ]"
                />
              </div>
              <div class="col-12">
                <q-input
                  v-model="login.senha"
                  class="required"
                  label="Senha"
                  :rules="[ val => val.trim() != '' || 'Campo Obrigatório' ]"
                  type="password"
                />
              </div>
            </div>
          </q-card-section>

          <q-separator/>

          <q-card-actions>
            <q-btn
              color="primary"
              label="Login"
              class="full-width login-btn"
              type="submit"
              :loading="logando"
            >
              <template v-slot:loading>
                <q-spinner-hourglass class="on-left"/>
              </template>
            </q-btn>

            <q-btn
              color="primary"
              label="Configurações"
              class="full-width login-btn"
              type="submit"
              :loading="logando"
            >
              <template v-slot:loading>
                <q-spinner-hourglass class="on-left"/>
              </template>
            </q-btn>
          </q-card-actions>
        </q-form>
      </q-card>
    </div>
  </div>
</template>

<script>
import { Platform } from "quasar";
import logoSVG from "./logoData";
import Vivus from "vivus";

import NotifyUtils from "../utils/NotifyUtils";
import AxiosUtils from "../utils/AxiosUtils";
import Login from "../models/Login";
import LoginService from "../services/LoginService";

let notify = new NotifyUtils();
let axios = new AxiosUtils();
let loginService = new LoginService();

export default {
  data() {
    return {
      login: new Login(),
      logo: logoSVG["Digitalizer"],
      logando: false
    };
  },
  methods: {
    startAnimation() {
      let vivus = new Vivus(
        "logo",
        {
          duration: 150,
          forceRender: false
        },
        function(element) {
          for (let item of element.el.children[0].children) {
            item.setAttribute("style", "fill:");
            item.setAttribute("style", "fill:");
          }
          //document.getElementById('logo').classList.add("animate-scale");
          if (document.getElementById("logoSpdata") != null) {
            document.getElementById("logoSpdata").classList.add("fadeIn");
          }
        }
      );
    },
    doLogin: function() {
      this.logando = true;
      alert('Alterar o caminho do REST no arquivo Utils.js')
      loginService
        .login(this.login)
        .then(a => {
          this.logando = false;
          this.$router.push("/app");
        })
        .catch(() => {
          this.logando = false;
        });
    }
  },
  mounted() {
    if (Platform.is.electron) {
      setTimeout(function() {}, 800);
    } else {
      this.startAnimation();
    }
  },
  computed: {
    fullHeight() {
      if (Platform.is.mobile) {
        return "fullHeight";
      }
    }
  }
};
</script>

<style>
.spdata-logo {
  margin-bottom: 20px;
  margin-top: 10px;
}

.fullHeight {
  height: 100% !important;
}
</style>
