body {
  // background-color: white;
}

.desktop {
  // background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2300619d' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  // background-image: url('../../node_modules/spdata-quasar-module/static/images/triangle-blue.svg')
  background-image: url('~assets/bg.png');
}

.q-card {
  background: white;
}

.q-card-media > img {
  width: auto;
}

.modal-header {
  font-size: 1.3rem;
}

.azul-site {
  background-color: $azulSite;
}

.q-list {
  border: none;
}

.q-list > .q-item {
  cursor: pointer;
}

.q-header {
  background: linear-gradient(145deg, #00619d 11%, #00b8b4 75%);
}

.bg-gradient {
  background: linear-gradient(145deg, #00619d 11%, #00b8b4 75%);
}

.required div[class*='q-field__label']:after {
  content: '*';
  margin-left: 5px;
  color: #C10015;
}

.q-item__section--avatar {
  color: inherit;
  min-width: 0px;
}

.q-item__section--main > .q-item__label {
  color: black;
}

.text-azul-site {
  color: $azulSite;
}

.verdeSite{
  background: #00b8b4 !important
  }

  .verdeClaroSite{
  background: #00b3af3b !important
  }

.login-btn{
  margin: 4px 0px 4px 0px;
}