<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn flat round dense icon="menu" @click="drawerLeft = !drawerLeft"/>
        <q-btn
          flat
          round
          dense
          icon="navigate_before"
          :to="$router.currentRoute.meta.backButton"
          v-if="$router.currentRoute.meta.backButton"
          title="Voltar"
        />
        <q-toolbar-title>
          <span>\{{ $router.currentRoute.meta.title }}</span>
        </q-toolbar-title>

        <q-btn flat round dense icon="fas fa-info-circle" class="q-mr-md">
          <q-popup-proxy transition-show="flip-up" transition-hide="flip-down">
            <q-banner>
              <q-list bordered separator>
                <q-item>
                  <q-item-section>
                    <q-item-label
                      overline
                      style="letter-spacing: normal;font-size: 1rem;"
                    >Versão: {{version}}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-banner>
          </q-popup-proxy>
        </q-btn>

        <q-btn flat round dense icon="fas fa-sign-out-alt" @click="sair()"/>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="drawerLeft"
      :width="250"
      :breakpoint="700"
      behavior="desktop"
      content-class="bg-grey-2"
    >
      <q-list bordered class="rounded-borders">
        <q-item class="bg-primary text-white" style="height:50px">
          <q-item-section class="justify-center items-center">
            <img
              id="logoSpdata"
              alt="SPDATA Logo"
              src="~/assets/spdata-branco.png"
              width="140px"
              class="spdata-logo"
            >
            <!-- <span class="text-weight-regular text-subtitle1">CPR Web</span> -->
          </q-item-section>
        </q-item>
        <q-expansion-item
          expand-separator
          icon="fas fa-coins"
          label="Menu 1"
          header-class="text-primary"
          expand-icon-class="text-primary"
        >
          <q-expansion-item
            :header-inset-level="0.6"
            :content-inset-level="0.8"
            expand-separator
            label="SubMenu 1"
            expand-icon-class="text-primary"
          >
            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="fas fa-arrow-circle-up" color="primary" style="font-size: 1.4em"/>
              </q-item-section>
              <q-item-section>Item 1</q-item-section>
            </q-item>

            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="fas fa-arrow-circle-down" color="primary" style="font-size: 1.4em"/>
              </q-item-section>
              <q-item-section>Item 2</q-item-section>
            </q-item>
          </q-expansion-item>
        </q-expansion-item>

        <!-- Menu 2 -->
        <q-expansion-item
          expand-separator
          icon="fas fa-database"
          label="Menu 2"
          header-class="text-primary"
          :content-inset-level="0.8"
          expand-icon-class="text-primary"
        >
          <q-item clickable v-ripple>
            <q-item-section avatar>
              <q-icon name="fas fa-tag" color="primary" style="font-size: 1.4em"/>
            </q-item-section>
            <q-item-section>Item 1</q-item-section>
          </q-item>

          <q-item clickable v-ripple>
            <q-item-section avatar>
              <q-icon name="fas fa-building" color="primary" style="font-size: 1.4em"/>
            </q-item-section>
            <q-item-section>Item 2</q-item-section>
          </q-item>
        </q-expansion-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from "quasar";

export default {
  data() {
    return {
      sistema: "Sistema",
      version: "",
      drawerLeft: false
    };
  },
  methods: {
    sair() {
      alert("Implementar o sair");
    },
    openURL
  }
};
</script>

<style>
</style>
